<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>KhoaController</servlet-name>
        <servlet-class>controller.KhoaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentByMaSv</servlet-name>
        <servlet-class>controller.aysnc.GetStudentByMaSv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KhoaController</servlet-name>
        <url-pattern>/khoa</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentByMaSv</servlet-name>
        <url-pattern>/get-student-by-maSv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
